@{ 
    ViewData["Title"] = "Register Confirmation";
}

<h1>@ViewData["Title"]</h1>

<p>Thank you. An email confirmation has been reset. Please be sure to check your spam folder if you do not see the email.</p>